body {
    /*
    background-image: url(./Rockteseat/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: cover;
    */

    /* */

    background: url(./Rockteseat/assets/bg-mobile.jpg) no-repeat top center/cover;

}